.storage-block {
    width: 200px; height: 200px; overflow: hidden; margin: 10px;
    cursor: pointer;
}
.storage-img-nav {
    position: absolute;
    top: 25%;
    left: 35%;
    display: none;
}

.storage-block textarea {
    position: absolute;
    right: 200000px;
}